@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900& display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    margin-top: 60px;
    position: relative;
    width: 8px;

}

::-webkit-scrollbar-track {
    margin-top: 60px;
    position: relative;
    display: none;
}

::-webkit-scrollbar-thumb {
    position: relative;
    background-color: rgba(130, 130, 0, 0.89);
    width: 8px;
    border-radius: 10px;
    left: 0;
    position: relative;
    cursor: pointer;
    /* border: 2px solid #fff; */
}

::-webkit-scrollbar-thumb:active {
    background-color: #d6d600;
}

body {

    background: url('/static/images/SAM_1386.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: overlay;

}


.wrapper {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
}

.navimg {
    margin-top: 10px;
    display: flex;
    left: 0;
    width: 80px;
    height: 80px;
}

.navimgimg {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(184, 196, 75));
    transition: 0.3s ease-in-out;
}

.navimg:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(118, 126, 41));
    transition: 0.3s ease;
}

.nav-menu ul {

    display: flex;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 230, 0);
    padding-bottom: 10px;
    margin: 0 25px;
}

.nav-menu ul li .link:hover {
    transition: 0.3s ease;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.link:hover,
.active {
    border-bottom: 2px solid rgb(255, 230, 0);
}


.nav-login-button .btn {
    width: 120px;
    height: 40px;
    font-weight: 500;
    background: transparent;
    border: 3px solid rgb(255, 230, 0);
    border-radius: 30px;
    color: yellow;

    transition: 0.3s ease;

}

.nav-login-button .btn:hover {
    background: rgba(184, 196, 75, 0.426);
    transition: 0.3s ease;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}


.activelog {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.nav-login-button .btn a {
    padding: 0 0 0 5px;
    text-decoration: none;
    color: rgb(255, 230, 0);
}
.nav-login-button .btn a i{
    padding: 0 0 0 5px;
    font-size: large;
}



.nav-menu-btn {
    display: none;
}




.body1 {
    min-height: 100vh;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    z-index: 0.9;
}




footer {
    position: sticky;
    top: 100%;
    bottom: 0%;
    width: 100%;
    min-height: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(130, 130, 0, 0.89));
    padding: 20px 50px;
    flex-direction: column;
    overflow: overlay;
}

footer .social,
.footmenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

footer .social li,
footer .footmenu li {
    list-style: none;
}

footer .social li a {
    font-size: 1.5em;
    margin: 0 10px;
    color: #000;
    display: inline-block;

    transition: 0.5s;
}

footer .footmenu li a {
    font-size: 1em;
    margin: 0 10px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    opacity: o.75;
    transition: 0.3s;
}

footer .footmenu li a:hover {
    color: yellow;
    text-shadow: 0 0 5px black;
    opacity: 1;
    transition: 0.3s;
}

footer .social li a:hover {
    color: yellow;
    text-shadow: 0 0 7px black;
    transform: translateY(-3px);
}

footer p {
    color: #000;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 0.9em;
}