{% extends "base.html" %}
{% block activelog %}activelog{% endblock activelog %}
{% block title %}Signin | {% endblock %}
{% block head%}

<link rel="stylesheet" href="/static/css/signup.css">
<link rel="stylesheet" href="/static/css/signin.css">
<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        if (password != confirmPassword) {
            alert("Passwords do not match\n");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>
{% endblock %}

{% block body %}
<!-- -------login form box------------ -->

<div class="signup-box">
    <form action="/signin/" method="post" >
        {% csrf_token %}
        <div class="top">
            <h2>Sign in</h2>
        </div>
        <div class="form-box">
            <div class="input-box">
                <input type="email" class="input-field" placeholder="Email" name="email" required>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Confirm Password" id="confirm_password" name="pass2" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Login" required>
            </div>
            <div class="thirdcol">
                <span>Don't have an account? <a href="/signup/">SignUp</a></span>
            </div>
        </div>
    </form>
</div>
{% endblock body %}