{% extends "base.html" %}
{% block activelog %}activelog{% endblock activelog %}
{% block title %}SignUp | {% endblock %}
{% block head%}

<link rel="stylesheet" href="/static/css/signup.css">
<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        if (password != confirmPassword) {
            alert("Passwords do not match\n");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>
{% endblock %}
{% block body %}
<!-- -------sign up form box------------ -->

<div class="signup-box">
    <form action="/signup/" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="top">
            <h2>Sign Up</h2>
        </div>
        <div class="form-box">
            <div class="two-forms">
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Firstname" name="firstname" required>
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Lastname" name="lastname" required>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="username" name="username" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="email" class="input-field" placeholder="Email" name="email" required>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password" id="password" name="pass1 password" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Confirm Password" id="confirm_password" name="pass2" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Sign Up" required>
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" required>
                    <label for="registercheck">Agreed to conditions for signup</label>
                </div>
                <div class="two">
                    <label for=""><a href="/terms/">Terms & Conditions</a></label>
                </div>
            </div>
            <div class="thirdcol">
                <span>Already have an account? <a href="/signin/">Login</a></span>
            </div>
        </div>
    </form>
</div>
{% endblock body %}